.rr{
    width: 50px;
}
.ff{
    width: 20px;
}
.a1{
    margin-left: 120px;
}
.a2{
    margin-left: 140px;
}
.a3{
    margin-left: 30px;
}
.a4{
    margin-left: 90px;
}
.a5{
    margin-left: 20px;
}
.a6{
    margin-left: 50px;
}
.l{
    border: 1px solid lightgray;
}