.d{
    border: 2px solid purple;
}
.pp{
    color: white;
    background-color: purple;
}
.gg{
    margin-top: -270px;
}
.oo{
    margin-bottom: -290px;
}
.ff{
    margin-top: 100px;
}
.l{
    color: white;
}